
  body {
    margin: 50px 300px 50px 300px;
  }
  h1 {
    font-size: 20px;
    color: blue;
  }

  .low-usage {
  color: green;
   }

  .medium-usage {
  color: black;
  }

 .high-usage {
  color: red;
  }
